In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df=pd.read_csv('creditcard.csv')

In [4]:
df.sample(2)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
254979,157008.0,-0.224765,-0.377304,1.809040,-1.943051,-0.838307,0.355962,-0.554839,0.364794,-0.717171,...,-0.004688,0.276819,0.099171,0.739744,-0.575900,0.440104,0.024067,0.042563,45.90,0
706,533.0,-1.233535,0.145320,-0.067227,-1.750577,-0.801069,-0.381652,1.561095,0.320172,0.231379,...,0.395250,0.868590,0.554972,0.243594,-0.034702,-0.829909,0.234285,0.190521,291.36,0

In [5]:
df.shape

(284807, 31)

In [7]:
df.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [9]:
df.duplicated().sum()

1081

In [12]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [14]:
#distribution of legit transaction and fraduent transaction
df['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [15]:
#0=Normal transaction
#1=fradulent trasaction
legit=df[df.Class==0]
fraud=df[df.Class==1]

In [16]:
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [17]:
#statistical measure of the data
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [18]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [19]:
#compare the values for both transaction
df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [20]:
legit_sample=legit.sample(n=492)

In [21]:
new_df=pd.concat([legit_sample,fraud],axis=0)

In [22]:
new_df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
261165,159891.0,-0.943780,0.081857,0.798414,-3.127156,-0.478229,-0.386741,-0.263920,0.377506,-2.426146,...,-0.191779,-0.234550,-0.349984,0.460397,0.872020,-0.120593,0.133959,0.034084,15.00,0
250980,155153.0,-0.107553,0.388638,1.350204,-0.101273,-0.070632,0.527327,-0.074537,0.318620,0.089007,...,0.323105,1.042789,-0.083153,0.761514,-0.824392,0.616868,0.182139,0.192477,11.49,0
78596,57607.0,0.795841,-0.992070,0.941105,0.160022,-0.942449,0.919299,-0.732985,0.454850,0.960866,...,-0.039645,-0.166954,0.001081,-0.212529,-0.104921,0.969728,-0.033868,0.022437,155.98,0
37055,38788.0,-1.465591,1.715563,0.189593,0.778776,0.385113,1.302066,-0.017162,-0.051952,-0.255581,...,0.648655,-0.132464,-0.124282,-1.334594,0.236106,-0.135455,0.589500,0.234215,35.62,0
4675,4085.0,-4.737622,1.863574,-3.268509,-0.289164,0.263620,3.394204,-1.613829,1.910162,1.179396,...,0.361393,-1.295559,0.115039,0.962198,0.069826,0.115512,-0.806910,-0.591903,35.38,0

In [24]:
new_df['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [25]:
new_df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94914.886179,0.016387,0.003321,-0.020885,0.063646,0.107446,0.003783,0.046843,0.025947,-0.007119,...,0.015157,0.013174,-0.016367,-0.017910,0.04020,-0.015838,-0.001746,-0.003070,-0.006584,85.685894
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.10513,0.041449,0.051648,0.170575,0.075667,122.211321

In [31]:
#splitting the data into features and target
X=new_df.drop(columns='Class',axis=1)
Y=new_df['Class']

In [32]:
print(X)

            Time        V1        V2        V3        V4        V5        V6  \
261165  159891.0 -0.943780  0.081857  0.798414 -3.127156 -0.478229 -0.386741
250980  155153.0 -0.107553  0.388638  1.350204 -0.101273 -0.070632  0.527327
78596    57607.0  0.795841 -0.992070  0.941105  0.160022 -0.942449  0.919299
37055    38788.0 -1.465591  1.715563  0.189593  0.778776  0.385113  1.302066
4675      4085.0 -4.737622  1.863574 -3.268509 -0.289164  0.263620  3.394204
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
261165 -0.263920  0.377506 -2.426146  ... -0.244222 -0.191779 -0.234550
250980 -0.074537  0.318620  0.089007  ...  0.027991  0.323105  1.042789
78596  -0.732985  0.454850  0.960866  ...  0.151968 -0.039645 -0.166954
37055  -0.017162 -0.051952 -0.255581  ...  0.127442  0.648655 -0.132464
4675   -1.613829  1.910162  1.179396  ... -0.251117  0.361393 -1.295559
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
261165 -0.349984  0.460397  0.872020 -0.120593  0.133959  0.034084   15.00
250980 -0.083153  0.761514 -0.824392  0.616868  0.182139  0.192477   11.49
78596   0.001081 -0.212529 -0.104921  0.969728 -0.033868  0.022437  155.98
37055  -0.124282 -1.334594  0.236106 -0.135455  0.589500  0.234215   35.62
4675    0.115039  0.962198  0.069826  0.115512 -0.806910 -0.591903   35.38
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]

In [33]:
print(Y)

261165    0
250980    0
78596     0
37055     0
4675      0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

In [34]:
#split the data into training data and testing data
X_train ,X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.2,random_state=2)

In [35]:
print(X.shape,X_train.shape,X_test.shape)

(984, 30) (787, 30) (197, 30)

In [36]:
#model training
model=LogisticRegression()

In [37]:
model.fit(X_train,Y_train)

LogisticRegression()

In [38]:
#model evaluation
X_train_prediction=model.predict(X_train)
training_data_accuracy=accuracy_score(X_train_prediction,Y_train)

In [39]:
print(training_data_accuracy)

0.9301143583227446

In [40]:
X_test_prediction=model.predict(X_test)
test_data_accuracy=accuracy_score(X_test_prediction,Y_test)

In [41]:
print(test_data_accuracy)

0.9289340101522843